
.projectContainer{
    /*border: 2px solid #ffffff;*/
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projs{
    /*background-color: rgba(5, 5, 5, 0.36);*/
    display: flex;
    flex-direction: column;



}


.img{
    height: 250px;
    width: 250px;
}

.name{

    color: white;

    /*background-color: white;*/
}

.description{
   color: white;



}