.skillBlock{
    width: 250px;
    background-color: rgba(152, 155, 159, 0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon{

    width: 60px;
    height: 60px;
    background-color: black;

}

.description{

}