.containerCommon{
    border: 2px solid white;
    height: 100%;
    width: 80%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.38);


    display: flex;

    justify-content: space-around ;

    align-items: center; /* выравнивание текста и фото по центру */
    flex-wrap: wrap;



}