.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;





}